# Datan analysointi K2021 - Tehtävät kerta 2

Palauta ratkaisusi Moodleen, kun olet ensin testannut ratkaisusi toimivuuden Notebookilla tai omalla koneellasi. Kun olet palauttanut tehtäväsi Moodleen, ne arvioidaan pistein:
* 1,0 p. Vastaus oikein ensimmäisellä yrityksellä.
* 0,5 p. Vastaus oikein toisella yrityksellä.
* 0 p. Vastaus annettu kolmannella yrityksellä.

**Tee tehtävät ilman for-silmukoita tms.**

## 1. Kunnat

Tee funktio kunnat(url), joka tekee seuraavaa:
* lataa datan DataFrameen url:sta (sarakkeiden erotinmerkki on puolipiste ja desimaalimerkki on pilkku),
* kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, joissa sarakkeessa 'maakunta' esiintyvät merkkijonot 'Uusimaa', 'Keski-Pohjanmaa' tai 'Keski-Suomi' ja sarakkeen 'Väkiluku' arvo on pienempi kuin 10 000,
* kopioi edellisen DataFramen uuteen DataFrameen siten, että ensin on lajiteltu sarake 'maakunta' ja sitten sarake 'kunta' aakkosissa nousevaan järjestykseen,
* tulostaa lopputulokseen viisi ensimmäistä riviä.

Tehtävän url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv

Esimerkiksi kunnat(url) tulostaa:

| |maakunta |      	kunta  			|Väkiluku|
|:---|:---|:---|:---|
|22       	|Keski-Pohjanmaa|      	Halsua      	|1165    |
|75       	|Keski-Pohjanmaa|      	Kannus      	|5502    |
|84       	|Keski-Pohjanmaa|   	Kaustinen      	|4273    |
|136      	|Keski-Pohjanmaa|  		Lestijärvi      |737     |
|191      	|Keski-Pohjanmaa|       Perho      		|2825    |

**Huom!** Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.

In [7]:
def kunnat(url):
    # Kirjoita vastauksesi tähän alle:
    import pandas as pd

    # lataa datan DataFrameen url:sta (sarakkeiden erotinmerkki on puolipiste ja desimaalimerkki on pilkku),
    url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv"
    data = pd.read_csv(url,
                 error_bad_lines=False,
                 sep = ';'
                )

    ''' kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, joissa sarakkeessa'maakunta'
    esiintyvät merkkijonot 'Uusimaa', 'Keski-Pohjanmaa' tai 
    'Keski-Suomi' ja sarakkeen 'Väkiluku' arvo on pienempi kuin 10 000'''

    df = data.copy()
    maakunnat = ['Uusimaa', 'Keski-Suomi', 'Keski-Pohjanmaa']
    df2 = df[df['maakunta'].isin(maakunnat)]
    df3 = df2.loc[df2['Väkiluku'] < 10000]

    '''kopioi edellisen DataFramen uuteen DataFrameen siten, että ensin on lajiteltu sarake 'maakunta'
    ja sitten sarake 'kunta' aakkosissa nousevaan järjestykseen,'''

    organised_df = df3.copy()
    organised_df = organised_df[['maakunta','kunta','Väkiluku']]
    organised_df = organised_df.sort_values(['maakunta', 'kunta'])

    # tulostaa lopputulokseen viisi ensimmäistä riviä.
    tulos = organised_df.head(5)
    
    
    # ...
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(tulos)

# Palautuksesi päättyy tähän.
# Voit lopuksi testata tekemääsi funktiota:
url="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv"
kunnat(url)

            maakunta       kunta  Väkiluku
22   Keski-Pohjanmaa      Halsua      1165
75   Keski-Pohjanmaa      Kannus      5502
84   Keski-Pohjanmaa   Kaustinen      4273
136  Keski-Pohjanmaa  Lestijärvi       737
191  Keski-Pohjanmaa       Perho      2825

## 2. Sähkön hintatietojen luokittelua

Tee funktio sahko(url), joka tekee seuraavaa:
* Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
* jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
* tekee DataFrameen uuden sarakkeen 'hintaluokka', jossa on viisi hintaluokkaa sarakkeesta 'Year Total €/MWh' siten, että alimman ja ylimmän hintaluokan hinnat ovat 'Year Total €/MWh' sarakkeen pienimmät ja suurimmat arvot,
* tulostaa 'hintaluokka' sarakkeen hintaluokkien lukumäärät value_counts()-metodilla.
* tarkista lopuksi, että funktio jäjestää tulosteen samoin kuin esimerkkivastauksessa.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv

**Esimerkiksi, sahko(url) tulostaa:** \
(12.06, 21.256]     21 \
(21.256, 30.452]    85 \
(30.452, 39.648]    78 \
(39.648, 48.844]    22 \
(48.844, 58.04]     28 \
Name: hintaluokka, dtype: int64

In [2]:
url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"

def sahko(url):

    
    # Kirjoita vastauksesi tähän:
    import pandas as pd
    import numpy as np
    pd.options.mode.chained_assignment = None  # default='warn'
    
    # Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste "."

    url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"
    df = pd.read_csv(url,
            sep = ',',
            decimal='.'
            )

    '''jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".",
    korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,'''

    mask = df.loc[:,'Year Total €/MWh':'December €/MWh'].isin(['.']) # etsitään kaikki '.'-arvot em. sarakkeista
    df = df.where(~mask, other=np.nan) # syötetään käänteiseen maskiin np.nan-arvot

    '''tekee DataFrameen uuden sarakkeen 'hintaluokka', jossa on viisi hintaluokkaa sarakkeesta 'Year Total €/MWh' siten,
    että alimman ja ylimmän hintaluokan hinnat ovat 'Year Total €/MWh' sarakkeen pienimmät ja suurimmat arvot,'''

    # ei oteta huomioon NaN-arvoja ja muutetaan sarake float-datatyypiksi
    df1 = df[df['Year Total €/MWh'].notna()]
    df1['Year Total €/MWh'] = df1['Year Total €/MWh'].astype('float64')

    # määritellään hintaluokat (5) sarakkeen pienimmästä luvusta suurimpaan
    hintaluokat = np.linspace(df1['Year Total €/MWh'].min(), df1['Year Total €/MWh'].max(), num=6)

    # tehdään uusi sarake "hintaluokka", jonne kategorisoidaan arvot
    df1['hintaluokka'] = pd.cut(df1['Year Total €/MWh'], bins=hintaluokat)

    '''tulostaa 'hintaluokka' sarakkeen hintaluokkien lukumäärät value_counts()-metodilla
    ja järjestää arvot nousevaan järjestykseen sähkön hinnan mukaan'''

    tulos = df1['hintaluokka'].value_counts().sort_index(ascending=True)
    
    # Vastauksesi tulostetaan
    print(tulos)
    # Palautuksesi päättyy tähän.


# Voit kokeilla funktiotasi seuraavasti:
sahko(url)

(12.06, 21.256]     21
(21.256, 30.452]    85
(30.452, 39.648]    78
(39.648, 48.844]    22
(48.844, 58.04]     28
Name: hintaluokka, dtype: int64

## 3. Sähkön hintatietojen luokittelua (2)

Tee funktio suomisahko(url), joka tekee seuraavaa:
* Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
* jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
* muuntaa sarakkeiden 'Year Total €/MWh' ja 'December €/MWh' ja niiden välissä olevien sarakkaiden tietotyypiksi float,
* kopioi DataFramesta kaikki sarakkeet ja ne rivit noiden sarakkeessa 'Price area' on merkkijono 'Finland',
* laskee **koko vuoden** sähkön hinnan keskiarvon uuteen sarakkeeseen 'Average €/MWh' kuukausilta ('January €/MWh'-'December €/MWh'),
* laskee sarakkeeseen 'Below average price' kuinka monena kuukautena sähkönhinta on ollut alle vuoden keskiarvon,
* laskee sarakkeeseen 'Above average price' kuinka monena kuukautena sähkönhinta on ollut yli vuoden keskiarvon tai yhtä paljon kuin keskiarvohinta,
* tulostaa vain ne kymmenen riviä (head(10)), jolloin sarakkeiden 'Below average price' ja 'Above average price' summa on 12.


Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv

**Esimerkiksi, suomisahko(url) tulostaa:**

|  |Year|  Below average price|  Above average price|
|:---|:---|:---|:---|
|145|  1998|                    5|                    7|
|146|  1999|                    5|                    7|
|147|  2000|                    7|                    5|
|148|  2001|                    7|                    5|
|149|  2002|                    9|                    3|
|150|  2003|                    9|                    3|
|151|  2004|                    7|                    5|
|152|  2005|                    5|                    7|
|153|  2006|                    6|                    6|
|154|  2007|                    7|                    5|

**Huom!** Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.

In [191]:
# Palautuksesi alkaa tästä
def suomisahko(url):
    
    # Kirjoita vastauksesi tähän:
    
    import pandas as pd
    import numpy as np
    pd.options.mode.chained_assignment = None  # default='warn'

    '''Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",'''

    url = url
    df = pd.read_csv(url,
        sep = ',',
        decimal='.'
        )

    '''kopioi DataFramesta kaikki sarakkeet ja ne rivit noiden sarakkeessa 'Price area' on merkkijono 'Finland','''

    df2 = df.loc[df['Price area'] == 'Finland']

    '''
    jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".",
    korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
    '''

    mask = df2.loc[:,'Year Total €/MWh':'December €/MWh'].isin(['.']) # etsitään kaikki '.'-arvot em. sarakkeista
    df3 = df2.where(~mask, other=np.nan) # syötetään käänteiseen maskiin np.nan-arvot

    '''muuntaa sarakkeiden 'Year Total €/MWh' ja 'December €/MWh' ja niiden välissä olevien sarakkaiden tietotyypiksi float,'''

    df3.loc[:,'Year Total €/MWh':'December €/MWh'] = df3.astype('float64')

    '''laskee koko vuoden sähkön hinnan keskiarvon uuteen sarakkeeseen 'Average €/MWh' kuukausilta ('January €/MWh'-'December €/MWh')'''

    kuukaudet = df3.iloc[:,3:15]

    # funktio, joka laskee kuukausien sähkönhinnan keskiarvon
    def count_mean(values):
        mean = kuukaudet.mean(axis=1)
        return mean

    # oma sarake lasketuille keskiarvoille
    df3['Average €/MWh'] = count_mean(kuukaudet)

    # pyöristetään kaikki arvot DataFramessa samoin
    df4 = df3.round(decimals=2)

    # laskee sarakkeeseen 'Below average price' kuinka monena kuukautena sähkönhinta on ollut alle vuoden keskiarvon,
    avg = df4['Average €/MWh']
    values = df4.iloc[:,3:15]

    is_below = values.apply(lambda x: x < avg)
    df4['Below average price'] = is_below.sum(axis=1)


    # laskee sarakkeeseen 'Above average price' kuinka monena kuukautena sähkönhinta on ollut yli vuoden keskiarvon tai yhtä paljon kuin keskiarvohinta,
    is_below = values.apply(lambda x: x >= avg)
    df4['Above average price'] = is_below.sum(axis=1)

    # tulostaa vain ne kymmenen riviä (head(10)), jolloin sarakkeiden 'Below average price' ja 'Above average price' summa on 12.
    filtered_df = df4[(df4['Below average price'] + df4['Above average price'] == 12)]

    result = filtered_df[['Year','Below average price','Above average price']]
    result['Year'] = df['Year']
    tulos = result.head(10)
    
    # Vastauksesi tulostetaan
    print(tulos)

# Palautuksesi päättyy tähän.
    
url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"
# Voit kokeilla funktiotasi seuraavasti:
suomisahko(url)

     Year  Below average price  Above average price
145  1998                    5                    7
146  1999                    5                    7
147  2000                    7                    5
148  2001                    7                    5
149  2002                    9                    3
150  2003                    9                    3
151  2004                    7                    5
152  2005                    5                    7
153  2006                    6                    6
154  2007                    7                    5

## 4. Henkilötietojen muodostamista merkkijonoista

Tee funktio **mail(url)**, joka tekee seuraavaa:
* lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),
* tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
* poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
* järjestää yhteystiedot sukunimen mukaan aakkosissa suurimmasta pienimpään(Ö->A),
* tulostaa viisi ensimmäistä riviä.

Tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv

**Esimerkiksi**, mail(url) tulostaa:

| |sukunimi |                      email|
|:---|:---|:---|
|29  |    Zovko  |         nina.zovko@azo.hr|
|173  |  Yotova  |iyotova@moew.government.bg|
|73   |  Vitola   |    evita.vitola@lvgmc.lv|
|213  |Virgovič   |radoslav.virgovic@sazp.sk|
|268  |Virgovic   |radoslav.virgovic@sazp.sk|

In [349]:
def mail(url):
    # Kirjoita vastauksesi tähän alle:
    
    url = url
    df = pd.read_csv(url,
    sep = '\t',
    quoting=3
        )
    df.columns = df.columns.str.strip('""')
    df['ID'] = df['ID'].replace(to_replace='"', value='', regex=True)
    df['EMail'] = df['EMail'].replace(to_replace='"', value='', regex=True)

    # tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen
    new = df.filter(['NameOfContactPerson'])
    new = new.astype('string')

    # tehdään kaikista merkkijonoista samanlaisia, eli pieniä tässä tapauksessa
    new_lower = new['NameOfContactPerson'].str.lower()

    # poistetaan kaikki merkkijonot, jotka ovat sulkujen sisällä
    new_lower_filtered = new_lower.str.replace(r"\([^)]*\)", repl='', regex=True)

    # pilkotaan NameOfContactPerson osiin ja valitaan vain viimeinen merkkijono
    df_str = new_lower_filtered.str.split().str[-1]

    # poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään
    df_str.drop_duplicates(keep='first', inplace=True)

    # järjestää yhteystiedot sukunimen mukaan aakkosissa suurimmasta pienimpään(Ö->A)
    df_names_sorted = df_str.sort_values(ascending=False)
    df_cap = df_names_sorted.str.capitalize()
    
    # muotoillaan lopullinen dataframe oikeaan muotoon
    emails = df['EMail']
    df_result = pd.merge(df_cap, emails, left_index=True, right_index=True)
    df_result.rename(columns = {'EMail':'Email'}, inplace = True)
    df_result.rename(columns = {'NameOfContactPerson':'sukunimi'}, inplace = True)
    df_result['sukunimi'].str.capitalize()

    tulos = df_result.head(5)
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(tulos)
# Palautuksesi päättyy tähän.    

# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

     sukunimi                       Email
29      Zovko           nina.zovko@azo.hr
173    Yotova  iyotova@moew.government.bg
73     Vitola       evita.vitola@lvgmc.lv
213  Virgovič   radoslav.virgovic@sazp.sk
268  Virgovic   radoslav.virgovic@sazp.sk

## 5. Henkilötietojen muodostamista merkkijonoista (2)

Tee funktio **mail(url)**, joka tekee **järjestyksessä** seuraavaa:
* lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),
* poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
* poistaa sarakkeen 'NameOfContactPerson' kaikilta riveiltä kaarisulkeet ja niiden sisällä olevat merkkijonot,
* tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
* tallentaa uuteen DataFramen sarakkeeseen ('surname') vain ne rivit, joissa sukunimi sarakkeessa esiintyy aakkosia tai yhdysviiva "-" osana sukunimeä,
* tallentaa uuteen DataFrameen sarakkeen ('domainend'), jossa on sähköpostiosoitteen domainin loppuosa (esim. **fi**),
* poistaa sarakkeesta 'domainend' tyhjät merkkijonot,
* järjestää DataFramen rivit sarakkeen 'surname' mukaan aakkosittain nousevaan järjestykseen (A -> Ö),
* tulostaa DataFramesta viisi ensimmäistä riviä sarakkeista 'surname' ja 'domainend'.

Tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv

**Esimerkiksi**, mail(url) tulostaa:

| | surname| domainend|
|:---|:---|:---|
|327|  Al-Hanbali|        se|
|163|   Alexandru|        ro|
|287|  Berzinskas|        lt|
|330|     Brennan|        uk|
|257|      Cassar|        mt|

In [184]:
def mail(url):
    # Kirjoita vastauksesi tähän alle:
    
    import re
    import pandas as pd
    import numpy as np

    url = url
    df = pd.read_csv(url,
    sep = '\t',
    quoting=3
        )

    df.columns = df.columns.str.strip('""')
    df['ID'] = df['ID'].replace(to_replace='"', value='', regex=True)
    df['EMail'] = df['EMail'].replace(to_replace='"', value='', regex=True)

    df2 = df.astype('string')

    # poistaa rivit, joissa 'NameOfContactPerson' (ja 'EMail') sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään
    df2.drop_duplicates(subset='NameOfContactPerson', keep='first', inplace=True)
    df2.drop_duplicates(subset='EMail', keep='first', inplace=True)

    # poistaa sarakkeen 'NameOfContactPerson' kaikilta riveiltä kaarisulkeet ja niiden sisällä olevat merkkijonot
    df2['NameOfContactPerson'] = df2['NameOfContactPerson'].str.replace(r"\([^)]*\)", repl='', regex=True)

    # tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen
    df3 = df2.copy()
    df3['NameOfContactPerson'] = df3['NameOfContactPerson'].str.split().str[-1]

    df4 = df3[['NameOfContactPerson', 'EMail']]
    # df4['NameOfContactPerson'] = df4['NameOfContactPerson'].replace(regex=r"\d", value=np.NaN)
    # df4 = df4.astype('string')

    # tallentaa uuteen DataFramen sarakkeeseen ('surname') vain ne rivit, joissa sukunimi sarakkeessa esiintyy aakkosia tai yhdysviiva "-" osana sukunimeä
    df5 = df4.copy()
    df5['surname'] = df4['NameOfContactPerson'].str.extract(r"([a-zA-Z.-.+-]+)", expand=False)

    '''
    tallentaa uuteen DataFrameen sarakkeen ('domainend'), jossa on 
    sähköpostiosoitteen domainin loppuosa (esim. fi),
    '''
    df5['domainend'] =  df5['EMail'].str.rsplit(".", 1).str[-1]

    # järjestää DataFramen rivit sarakkeen 'surname' mukaan aakkosittain nousevaan järjestykseen (A -> Ö)
    sorted_df = df5.sort_values(by='surname')
    sorted_df = sorted_df.astype('string')

    # tulostaa DataFramesta viisi ensimmäistä riviä sarakkeista 'surname' ja 'domainend'.


    tulos = sorted_df[['surname','domainend']].head(5)
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    
    print(tulos)

# Palautuksesi päättyy tähän.

# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

        surname domainend
327  Al-Hanbali        se
163   Alexandru        ro
287  Berzinskas        lt
330     Brennan        uk
257      Cassar        mt