# Datan analysointi S2020, kerta 1


<a href="#105">perus-Pythonin tietorakenteet</a>  
<a href="#104">Lista</a>  
<a href="#103">Tuple (monikko)</a>  
<a href="#102">Sanakirja (Dictionary)</a>  
<a href="#2">Numpy-kirjaston tuonti</a>  
<a href="#3">NumPy-taulukko (array)</a>  
<a href="#4">NumPy-taulukon siivuttaminen (slicing)</a>  
<a href="#5">Laskutoimitukset NumPy-taulukoilla</a>  
<a href="#6">NumPy-taulukko vs. lista</a>  
<a href="#7">NumPy-taulukon suodatus Boolean-taulukolla</a>  
<a href="#8">NumPy-taulukon lajittelu</a>  
<a href="#9">pandas-kirjasto</a>  
<a href="#10">pandas-kirjaston tuonti</a>  
<a href="#11">pandas-Series</a>  
<a href="#12">pandas-DataFrame</a>  
<a href="#13">Uudelleenindeksointi (reindex)</a>  
<a href="#14">Rivien tai sarakkeiden poistaminen (drop)</a>  
<a href="#15">Valinta ja suodatus</a>  
<a href="#16">loc- ja iloc -operaattorit</a>  
<a href="#17">ja/tai/isin</a>  
<a href="#18">DataFramen lajittelu</a>  
<a href="#19">head, tail, sample</a>


Kurssilla tehdään Python 3.x :llä datan analysointia käyttäen pääasiassa **pandas**-laajennuskirjastoa. Ympäristönä käytetään Anacondan Jupyter notebookia. 

Pythonin perussyntaksi oletetaan pohjatiedoksi, lyhyt materiaali asian kertaamiseen löytyy:  
 [.ipynb-muodossa](https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta1/s20kerta0.ipynb)  
 [.html-muodossa](https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta1/s20kerta0.html)
 
 
<a id="105"></a> 
 ## perus-Pythonin tietorakenteita
 
 Kertauksena Pythonin sisäänrakennettuja tietorakenteita:
 <a id="104"></a> 
 ### Lista
Pythonissa on muutamia erityyppisiä (sisäänrakennettuja) tietorakenteita, joista yleisin on lista (**List**)

Lista määritellään hakasulkujen sisään ja alkiot erotetaan pilkulla. Listan alkiot voivat olla eri tietotyyppiä tai vaikka toisia listoja.
```
lista1 = [1, 2.2, 'kissa', 3, [False, True]]
```

Listan alkioihin viitataan indekseillä ihan kuten merkkijonoissakin
```
lista[1] # palauttaa toisen alkion (1. on paikassa 0)
lista[2:5] # palauttaa 5-2 = 3 merkin merkkijonon, jossa merkit paikoista 2, 3 ja 4. Siis paikka 5 ei tule mukaan.
lista[:5] # sama kuin [0:5]
lista[5:] # sama kuin [5:loppuun asti]
lista[-3:-1] # negatiivinen indeksi luetaan lopusta, viimeinen merkki on -1 (ei tule tässä mukaan)
lista[:-3] # kolme viimeistä merkkiä jää pois
lista[1:-3] # toisesta neljänneksi viimeiseen (kolmanneksi viimeinen ei tule mukaan) 
```

Kolmantena lukuna voidaan antaa *askel*, esim lista[1:5:2] antaa alkiot paikoista 1 ja 3 eli kahden välein. Tätä käytetään  usein negatiivisella askeleella listan kääntämiseksi toisin päin lista[::-1]

Listat ovat dynaamisia, eli niitä voi muokata luomisen jälkeen.
[Metodeja listojen käsittelyyn](https://docs.python.org/3/library/stdtypes.html#typesseq-mutable)

In [5]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

print(lista[1]) # palauttaa toisen alkion (1. on paikassa 0)
print(lista[2:5]) # palauttaa 5-2 = 3 merkin merkkijonon, jossa merkit paikoista 2, 3 ja 4. Siis paikka 5 ei tule mukaan.
print(lista[:5]) # sama kuin [0:5]
print(lista[5:]) # sama kuin [5:loppuun asti]
print(lista[-3:-1]) # negatiivinen indeksi luetaan lopusta, viimeinen merkki on -1 (ei tule tässä mukaan)
print(lista[:-3]) # kolme viimeistä merkkiä jää pois
print(lista[1:-3]) # toisesta neljänneksi viimeiseen (kolmanneksi viimeinen ei tule mukaan)

print('----------\n')

print(lista[1:5:2]) # toisesta viidenteen kahden välein
print(lista[5:1:-2]) # kuudennesta kolmanteen -kahden välein
print(lista[::-1]) # koko lista nurinpäin

2
[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8]
[6, 7]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
----------

[2, 4]
[6, 4]
[8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
# esimerkkikoodia
lista1 = [1, 2.2, 'kissa', 3, [False, True]]
print(lista1)

print('------------\n')

print(lista1[-1][0])

print('------------\n')

# muutetaan yksi alkio
lista1[1] = 3e8
print(lista1)

print('------------\n')

# lisätään yksi alkio väliin
lista1.insert(3, 'koira')
print(lista1)

print('------------\n')

#poistetaan 2. viimeinen alkio
del lista1[-2]
print(lista1)

print('------------\n')

# läpikäydään lista
for i in lista1:
  print(str(i) + " tyyppiä " + str(type(i)))

[1, 2.2, 'kissa', 3, [False, True]]
------------

False
------------

[1, 300000000.0, 'kissa', 3, [False, True]]
------------

[1, 300000000.0, 'kissa', 'koira', 3, [False, True]]
------------

[1, 300000000.0, 'kissa', 'koira', [False, True]]
------------

1 tyyppiä <class 'int'>
300000000.0 tyyppiä <class 'float'>
kissa tyyppiä <class 'str'>
koira tyyppiä <class 'str'>
[False, True] tyyppiä <class 'list'>

 <a id="103"></a> 
### Tuple (monikko)
Tuplet ovat rakenteeltaan samanlaisia kuin listat, mutta niissä on yksi merkittävä ero: ne
ovat alkioiltaan kiinteitä, eli tupleilla ei ole metodeja eikä muitakaan tapoja manipuloida niitä. 

Tuple määritellään tavallisten sulkujen sisään kun lista määritellään hakasulkujen sisään.

```
lista_2 = ['kissa', 'koira', 'kana'] # Tämä on lista
tuple_2 = ('kissa', 'koira', 'kana') # Tämä on tuple
```

Tupleja käytetään usein  silloin, kun halutaan varmistaa, että esimerkiksi funktiolle annettu listamainen parametri ei tule muuttumaan missään vaiheessa.

 <a id="102"></a> 
### Sanakirja (Dictionary)
Sanakirja (Dictionary, usein myös associative array) on järjestämätön taulukko, jossa alkioihin viitataan uniikeilla avaimilla. Sanakirja sisältää kaksi päätyyppiä, avaimet (key) ja arvot (value). Sanakirjan tapauksessa päätyypeistä
avaimen tulee olla ainutlaatuinen, eli sanakirja ei voi sisältää kahta samaa avainta.

Sanakirjan määrittely
```
sanakirja1 = {'kortti' : 'Visa', 'raja' : 2000, 'nimi' : 'Varis'}


```

Sanakirjan alkioon viitataan antamalla indeksin sijasta alkion avain

```
print(sanakirja1['raja'])
```

Läpikäyntiin on useita vaihtoehtoja:
* *for x in sanakirja1*  käy läpi avaimet, kuten myös *for x in sanakirja1.keys()*
* *for x in sanakirja1.values():* käy läpi arvot
* *for x,y in sanakirja1.items():* käy läpi sekä avaimet että arvot


Sanakirjan voi luoda myös hieman erilaisella syntaksilla
```
sanakirja1 = dict(kortti = 'Visa', raja =  2000, nimi = 'Varis')
```

In [7]:
sanakirja1 = {'kortti' : 'Visa', 'raja' : 2000, 'nimi' : 'Varis'}


print(sanakirja1['raja'])

print('------------\n')

for x in sanakirja1:
  print(x)

print('------------\n')

for x in sanakirja1.keys():
  print(x)

print('------------\n')

for x in sanakirja1:
  print(sanakirja1[x])

print('------------\n')

for x in sanakirja1.values():
  print(x)

print('------------\n')

for x,y in sanakirja1.items():
  print(x + " : " + str(y))

print('------------\n')

sanakirja1['loppuu'] = '11/19'

for x,y in sanakirja1.items():
  print(x + " : " + str(y))

2000
------------

kortti
raja
nimi
------------

kortti
raja
nimi
------------

Visa
2000
Varis
------------

Visa
2000
Varis
------------

kortti : Visa
raja : 2000
nimi : Varis
------------

kortti : Visa
raja : 2000
nimi : Varis
loppuu : 11/19

<a id="1"></a>
## NumPy-kirjasto

NumPy-kirjasto sisältää numeerisen laskennan työkaluja, tärkeimpänä **ndarray (tai array)**, eli taulukko, jolla voidaan kuvata vektoreita, matriiseja ja mitä tahansa moniulotteisia taulukoita. Numpy-taulukot mahdollistavat numeerisen laskennan eri tavoilla kuin tavalliset listat (ndarray = n-dimensional array).

Lisäksi NumPy sisältää lukuisia funktioita taulukoiden käsittelyyn, matriisilaskentaan ja tilastolliseen laskentaan.  Numpy-taulukoiden ja –funktioiden toteutukset on hiottu erittäin nopeiksi.

[NumPy-sivut](https://docs.scipy.org/doc/numpy/user/index.html)

<a id="2"></a>
### Numpy-kirjaston tuonti
numpy-kirjasto otetaan käyttöön koodissa `import numpy` -käskyllä. Vakiintunut käytäntö on käyttää aliasta `np`:

`import numpy as np`

Tämän jälkeen koodissa NumPyn funktioita voi kutsua lyhennettä `np` käyttäen.

<a id="3"></a>
### NumPy-taulukko (array)
Taulukoita (array) voi luoda  Pythonin listoista (tai tupleista) numpy.array-funktiolla.

In [8]:
import numpy as np

# Luodaan yksiulotteinen neljan alkion taulukko (eli vektori)

vektori = np.array([10, 20, 30, 40])

Taulukon alkiohin viittaaminen toimii kuten listojen kanssa:

In [9]:
eka = vektori[0] # 10
toka = vektori[1] # 20
vika_1 = vektori[3] # 40
vika_2 = vektori[-1] # 40, viimeinen alkio
vika_2 = vektori[-2] # 30, toiseksi viimeinen alkio

Toisin kuin listat, NumPy-taulukot eivät kuitenkaan voi sisältää eri tyyppisiä alkioita. Jos luontiin käytettävän listan alkiot ovat eri tyyppisiä, NumPy muuttaa kaikki alkiot "yleisimmäksi" datatyypiksi.

In [10]:
lista1 = [1, 3, 3.1]
nptaulukko1 = np.array(lista1)
print(nptaulukko1)  # kaikki floateja

lista2 = [1, 2.1, "3"]
nptaulukko2 = np.array(lista2)
print(nptaulukko2)  # kaikki stringejä

[1.  3.  3.1]
['1' '2.1' '3']

Kaksiulotteisen NumPy-taulukon eli matriisin, voi luoda samalla tavalla listojen listasta:

In [11]:
matriisi = np.array([[10, 20, 30],
                     [40, 50, 60]])

print(matriisi)

[[10 20 30]
 [40 50 60]]

Kaksiulotteisten NumPy-taulukkojen alkioihin voi viitata taulukko[rivi, sarake] -merkinnällä. Myös tavallisista listoista tuttu merkintä taulukko[rivi][sarake] toimii, mutta on kömpelömpi.

In [12]:
ekan_eka = matriisi[0, 0] # 10
tokan_toka = matriisi[1, 1] # 50
tokan_vika = matriisi[1, -1] # 60
tokan_vika2 = matriisi[1][-1] # 60

print(tokan_vika)

60

Vastaavasti matriisi voi olla myös useampiulotteinen:

In [13]:
kolmed_matr = np.array([[[1, 2, 3],
                         [4, 5, 6]],
                        [[7, 8, 9],
                         [10, 11, 12]]])
print(kolmed_matr[1,0,2])
print(kolmed_matr)

9
[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

Taulukon voi tehdä myös valmiilla NumPyn alustusfunktioilla:
* `numpy.zeros` tekee taulukon jossa kaikki alkiot on nollia
* `numpy.arange` toimii kuten for-silmukan kanssa käytettävä range-funktio
* `numpy.linspace` täyttää taulukon tasavälein olevilla liukuluvuilla

In [14]:
print(np.zeros(10))

print('------------\n')

print(np.zeros([5, 3])) # toimisi myös tuplella np.zeros((5, 3))

print('------------\n')

print(np.arange(1, 11)) # alku, loppu. Loppu ei tule mukaan

print('------------\n')

print(np.arange(0, 101, 10)) # alku, loppu, askel

print('------------\n')

print(np.arange(10, 0, -1)) # alku, loppu, askel

print('------------\n')

print(np.linspace(0, 10, 5)) # alku, loppu, lukujen määrä

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
------------

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
------------

[ 1  2  3  4  5  6  7  8  9 10]
------------

[  0  10  20  30  40  50  60  70  80  90 100]
------------

[10  9  8  7  6  5  4  3  2  1]
------------

[ 0.   2.5  5.   7.5 10. ]

<a id="4"></a>
### NumPy-taulukon siivuttaminen (slicing)
NumPy-taulukoiden siivuttaminen toimii samaan tapaan kuin listojen siivuttaminen. Merkinnässä [start:stop:askel], 
stop-alkio ei siis kuulu enää siivuun. askel-osuus ei ole pakollinen.

In [15]:
vektori = np.arange(10, 110, 10)
print(vektori)

print('------------\n')

siivu1 = vektori[2:5]
print(siivu1)

print('------------\n')

print(vektori[-2:3:-1])

print('------------\n')

print(vektori[:3])

print('------------\n')


matriisi = np.array([[1, 2, 3, 4],
                     [5, 6, 7, 8],
                     [9, 10, 11, 12]])
print(matriisi)

print('------------\n')

print(matriisi[1, 1:3])

print('------------\n')

print(matriisi[2, -2:])

[ 10  20  30  40  50  60  70  80  90 100]
------------

[30 40 50]
------------

[90 80 70 60 50]
------------

[10 20 30]
------------

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
------------

[6 7]
------------

[11 12]

NumPy-tarjoaa myös käytännöllisen `:` -indeksoinnin. `:` -indeksi tarkoittaa kyseisen ulottuvuuden kaikkia indeksejä:

In [16]:
M = np.array([[1, 2, 3, 4],
              [5, 6, 7, 8],
              [9, 10, 11, 12]])

print('------------\n')

# Matriisin M kaikkien rivien kolmas sarake
print(M[:, 2]) # array([ 3,  7, 11])

print('------------\n')

# Matriisin M toisen rivin kaikki sarakkeet
print(M[1, :]) # array([5, 6, 7, 8])

print('------------\n')

# Tätä vastaa myös lyhennetty merkintä, jossa sarakkeet voi jättää pois
print(M[1])    # array([5, 6, 7, 8])

------------

[ 3  7 11]
------------

[5 6 7 8]
------------

[5 6 7 8]

In [17]:
# yksiulotteisen taulukon (myöhemmin myös pandas Serieksen/DataFramen) kääntäminen toisin päin:

vektori = np.arange(10, 110, 10)
print(vektori)

print(vektori[::-1])

[ 10  20  30  40  50  60  70  80  90 100]
[100  90  80  70  60  50  40  30  20  10]

NumPy-taulukoiden siivuttaminen on toteutuu siis paljon yksinkertaisemmalla syntaksilla kuin python-listojen:

In [18]:
# kaivetaan "2D"-python listasta "1. sarake"
x = [["a", "b"], ["c", "d"]]
print([x[0][0], x[1][0]])

print('------------\n')

# sama NumPy-taulukolla
np_x = np.array(x)
print(np_x[:,0])

['a', 'c']
------------

['a' 'c']

Siivuttaminen ei kuitenkaan anna uutta taulukkoa vaan eräänlaisen "näkymän" (view) alkuperäiseen taulukkoon (tämä liittyy muistin käsittelyn optimointiin). Niinpä näkymään tehtävät muutokset vaikuttavat myös alkuperäiseen taulukkoon:

In [19]:
taul1 = np.array([1, 2, 3, 4, 5, 6, 7, 8])
taul2 = taul1[2:5]

print(taul2)  # [3 4 5]

print('------------\n')

taul2[1] = 10

print(taul2) # [ 3 10  5]
print(taul1)  # myös taul1 on muuttunut!  [ 1  2  3 10  5  6  7  8]


print('------------\n')

# uuden taulukon saa copy()-funktiolla

taul3 = taul1[5:8].copy()
taul3[1] = 100

print(taul3)
print(taul1)  # ei ole muuttunut

[3 4 5]
------------

[ 3 10  5]
[ 1  2  3 10  5  6  7  8]
------------

[  6 100   8]
[ 1  2  3 10  5  6  7  8]

<a id="5"></a>
### Laskutoimitukset NumPy-taulukoilla

NymPy-taulukoiden ja niistä johdettujen pandasin tietorakenteiden suurin hyöty on **vektorisoidut laskutoimitukset**. Niiden ansiosta operaatiot voidaan tehdä koko taulukolle kerralla, ilman että alkioita pitäisi käydä läpi for-silmukalla tms. 

NumPy-taulukon voi kertoa/jakaa/summata yms. skalaariarvon (luvun) kanssa, jolloin NumPy tekee operaation jokaiselle alkiolle erikseen:

In [20]:
vektori = np.array([1, 3, 7, 9, 11]) 
v2 = vektori + 5
print(v2)

print("---------------\n")

v3 = (vektori ** 2)/2
print(v3)

[ 6  8 12 14 16]
---------------

[ 0.5  4.5 24.5 40.5 60.5]

NumPy-taulukoita voi myos lisätä, kertoa ja jakaa keskenään. 
Operaatiot tehdaan alkioittain, joten taulukoiden dimensioiden tulee täsmätä.

In [21]:
vektori1 = np.array([1, 3, 7, 9, 11]) 
vektori2 = np.array([0.5 , -1, 1, 0.1, 3])

print(vektori1 + vektori2)

print("---------------\n")

print(vektori1 * vektori2)

print("---------------\n")

print((vektori1 / vektori2)**2)

print("---------------\n")

print(vektori1 + np.array([3,4,5])) # virheilmoitus

[ 1.5  2.   8.   9.1 14. ]
---------------

[ 0.5 -3.   7.   0.9 33. ]
---------------

[4.00000000e+00 9.00000000e+00 4.90000000e+01 8.10000000e+03
 1.34444444e+01]
---------------

ValueError: operands could not be broadcast together with shapes (5,) (3,)

Seuraavassa matriisin M jokainen rivi kerrotaan alkioittain vektorilla a (kyseessä ei ole matriisien matriisitulo).

In [ ]:
M = np.array([[1, 2, 3, 4],
              [5, 6, 7, 8],
              [9, 10, 11, 12]])
a = np.array([1, 2, 3, 4])
print(M * a)

NumPyn omia matemaattisia funktioita käyttäen voidaan laskutoimitukset tehdä alkoittain NumPy-taulukolle

In [ ]:
import math
vektori  = np.arange(0,370,10)
print(np.radians(vektori))
print('\n')
print(np.sin(np.radians(vektori)))

Myös Jupyter notebookissa on yksinkertainen toiminto käytettävissä olevien funktioiden listaamiseen: kirjoitetaan `np.` ja painetaan sarkainnäppäintä, jolloin saadaan lista funktioista.

![funktiolista](http://student.labranet.jamk.fi/~varpe/datananals2019/kerta1/funktiolista.png)

`len()`-funktiolla saa taulukon alkioiden lukumäärän

NumPy sisältää myös taulukolle tehtäviä tilastollisia funktioita:
* `numpy.sum` laskee alkoiden summan
* `numpy.prod` laskee alkoiden tulon
* `numpy.mean` laskee alkoiden keskiarvon
* `numpy.median` laskee alkoiden mediaanin
* `numpy.std` laskee alkoiden keskihajonnan
* `numpy.amax` antaa suurimman arvon
* `numpy.amin` antaa pienimmän arvon

näitä voi kutsua myös tyyliin `taulukko.sum()`

In [ ]:
taul = np.array([1, 56, 5, 10, 11, 2])
print("alkioita:", len(taul))
print("keskiarvo:", np.mean(taul))
print("mediaani:", np.median(taul))
print("suurin:", np.max(taul))
print("pienin:", np.amin(taul))
print("summa:", np.sum(taul))
print("summa, toinen tapa:", taul.sum())

<a id="6"></a>
### NumPy-taulukko vs. lista
NumPy-taulukoilla laskeminen eroaa siis periaatteltaan vastaavista operaatioista Python-listoilla:

In [22]:
l1 = [1, 2, 3]
l2 = [10, 20, 30]
print(l1+l2)
print(l1*2)

print(15*'-')

np_l1 = np.array(l1)
np_l2 = np.array(l2)
print(np_l1+np_l2)
print(np_l2*2)

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3]
---------------
[11 22 33]
[20 40 60]

Jos Python-listassa haluaisi kertoa kaikki alkiot kahdella, pitäisi käyttää for-silmukkaa

In [ ]:
l1 = [1, 2, 3]
l2 = []
for i in l1:
  l2.append(i*2)

print(l2)

# voidaan käyttää myös list comprehension -rakennetta:
l3 = {x * 2 for x in l1}
print(l3)

<a id="7"></a>
### NumPy-taulukon suodatus Boolean-taulukolla
NumPy-taulukkoa voi suodattaa antamalla "siivutukseen" samanmittainen Boolean-taulukko, jossa jokainen alkio on joko True tai False:

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6])
arr2 = np.array([True, False, False, True, True, False])
print(arr[arr2])

True/False -taulukon saa helposti NumPy-taulukosta esim. vertailuoperaattoreilla

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6])
arr2 = arr % 2 == 0 # jakojäännös on 0, eli parillinen luku
print(arr2)

Yhdistämällä nämä kaksi juttua nähdään, että NumPy-taulukkoa voi suodattaa helposti:

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6])
arr3 = arr[arr % 2 == 0]
arr4 = arr[arr > 2]
print(arr3)
print(arr4)

In [ ]:
# oletetaan että tyypit ja lukemat vastaavat järjestyksessä toisiaan:

tyypit = np.array(['A', 'C', 'B', 'A', 'A', 'D', 'B', 'C'])
lukemat = np.array([15, 21, 13, 32, 34, 45, 6, 1])

# valitaan lukemat tyypeistä A
print(lukemat[tyypit == 'A'])

# valitaan lukemat tyypeistä A ja B. 
# Avainsanat and tai or eivät toimi Boolean-listoilla, vaan pitää käyttää & tai |
print(lukemat[(tyypit == 'A') | (tyypit == 'B')])

Boolean-taulukon avulla voidaan myös muuttaa vain suodatettuja arvoja:

In [ ]:
taul1 = np.array([1, 2, 3, 4, 5, 6])

# suodatetaan parilliset luvut ja muutetaan ne nolliksi

taul2 = taul1 % 2 == 0
print(taul2)  # Boolean-taulukko


taul1[taul2] = 0   # tai suoraan taul1[taul1 % 2 == 0] = 0

print(taul1)

Boolean-taulukolla suodattaminen antaa kopion taulukosta/taulukon osasta, ei näkymää kuten siivuttaminen:

In [23]:
taul1 = np.array([1, 2, 3, 4, 5, 6])

taul2 =  taul1[taul1 % 2 == 0]
print(taul2)

taul2[0] = 100

print(taul2)
print(taul1)

[2 4 6]
[100   4   6]
[1 2 3 4 5 6]

<a id="8"></a>
### NumPy-taulukon lajittelu
`taulukko.sort()` lajittelee taulukon, `numpy.sort(taulukko)` antaa taulukosta lajitellun kopion.
Kumpaankaan lajittelutapaan ei ole mahdollista määrittää järjestystä nouseva/laskeva. Usein käytetään kikkaa `taulukko[::-1]` kääntämään taulukon alkoiden järjestys.

In [ ]:
taul1 = np.array([3, 5, 1, -2, 0, 4])
print(taul1)

taul1.sort()
print(taul1)

print('\n----------\n')

taul1 = np.array([3, 5, 1, -2, 0, 4])
print(taul1)

print('\n----------\n')

taul2 = np.sort(taul1)
print(taul2)
print(taul1)

print('\n----------\n')

taul3 = np.sort(taul1)[::-1]
print(taul3)

<a id="9"></a>
## pandas-kirjasto 
Pythonin käytetyin kirjasto data-analyysissa on **pandas**. pandas tarjoaa nopeat, helpot ja monipuoliset välineet taulukkomuotoisen datan käsittelyyn, erityisesti Series- ja DataFrame-tietorakenteet. pandas on rakennettu NumPyn pohjalle, joten NumPy-taulukon käsittelyn periaatteet toimivat myös pandasissa,(mm. alkioittan tehtävät laskutoimitukset ilman for-silmukoita).

Suurin ero kirjastojen välillä on pandasin käyttökelpoisuus taulukkomuotoisen, mahdollisesti heterogeenisen datan kanssa, kun NumPy soveltuu parhaiten numeriseen homogeenisen datan käsittelyyn.

[pandas-sivut](http://pandas.pydata.org/pandas-docs/stable/)

<a id="10"></a>
### pandas-kirjaston tuonti
pandas-kirjasto otetaan käyttöön koodissa `import pandas` -käskyllä. Vakiintunut käytäntö on käyttää aliasta `pd`:

`import pandas as pd`

Tämän jälkeen koodissa NumPyn funktioita voi kutsua lyhennettä `pd` käyttäen.

<a id="11"></a>
## pandas-Series
Series on yksiulotteinen listan tyyppinen datarakenne, jossa alkoiden lisäksi niille on määritelty indeksi (index), eli eräänlaiset nimikkeet (label). 

Yksinkertaisin Series saadaan tehtyä tavallisesta listasta (tai NumPy-taulukosta):

In [ ]:
import pandas as pd

ser1 = pd.Series([1, 5, 3.4, 6, 8])
print(ser1)

Tulosteessa´ensimmäinen sarake on indeksi. Koska Seriesiä määriettäessä ei määriteltu indeksiä, pandas teki sen luvuista 0, 1, 2 jne.

Seriesin arvot saa taulukkona values-funktiolla ja indeksin index-funktiolla:

In [ ]:
ser1 = pd.Series([1, 5, 3.4, 6, 8])
print(ser1.values)
print(ser1.index)

Seriesiä luodessa voidaan määritellä myös indeksi:

In [ ]:
ser1 = pd.Series([1, 5, 3.4, 6, 8], index=[2, 4 ,6 ,8, 10])
print(ser1)

print('\n------------------\n')

ser2 = pd.Series(["a", "b", "dd", 6, "joo"], index=['a', 'b' ,'c' ,'d', 'e'])
print(ser2)

print('\n------------------\n')

pandas Seriesin voi tehdä myös Python-sanakirjasta (dict), jolloin indeksiksi tulee sanakirjan avaimet lajitellussa järjestyksessä:

In [ ]:
kaupungit = {'Rovaniemi': 62000, 'Jyväskylä': 140000, 'Helsinki': 645000 , 'Kuopio': 118000}
             
ser1 = pd.Series(kaupungit)
            
print(ser1)

Indeksin voi antaa myös erikseen. Alla vakiluvut-sanakirjasta ei löydy avainta Oulu, jolloin sen arvoksi tulee NaN (Not a Number), joka on pandasin tapa kuvata puuttuvaa arvoa. Ja koska Rovaniemeä ei löydy annetusta indeksistä, sitä ei oteta Seriesiin.  

Tietotyypiksi tulee nyt liukuluku (float64), koska puuttuvaa arvoa NaN käsitellään liukulukuna.

In [ ]:
vakiluvut = {'Rovaniemi': 62000, 'Jyväskylä': 140000, 'Helsinki': 645000 , 'Kuopio': 118000}
kaupungit = ['Helsinki', 'Kuopio', 'Oulu', 'Jyväskylä']

ser1 = pd.Series(vakiluvut, index=kaupungit)

print(ser1)

Indeksin labelia voi käyttää arvojen valitsemiseen Seriesistä:

In [ ]:
ser2 = pd.Series(np.linspace(0, 10 ,5), index=['a', 'b' ,'c' ,'d', 'e'])
print(ser2)

print('\n------------------\n')

print(ser2['c']) 

print('\n------------------\n')

print(ser2[['c', 'a', 'd']])

print('\n------------------\n')

ser2[['d', 'a']]  = 100
print(ser2)

Kun aritmeettiset operaatiot yhdistävät NumPy-taulukot "paikkojen" mukaan (ensimmäiset alkiot, toiset alkiot jne), Seriesit yhdistyvät indeksien mukaan vaikka rivit olisi eri järjestyksessä:

In [ ]:
vakiluvut = pd.Series({'Rovaniemi': 62000, 'Jyväskylä': 140000, 'Helsinki': 645000 , 'Kuopio': 118000})
pintaalat = pd.Series({'Iisalmi': 872, 'Helsinki': 215, 'Jyväskylä': 1466, 'Kuopio': 4326})

print(vakiluvut)

print('-----------------\n')


print(pintaalat)

print('-----------------\n')

vaentiheydet = vakiluvut/pintaalat

print(vaentiheydet)

Sekä Seriesillä että sen indeksillä on `name`-attribuutti:

In [ ]:
vakiluvut = pd.Series({'Rovaniemi': 62000, 'Jyväskylä': 140000, 'Helsinki': 645000 , 'Kuopio': 118000})
vakiluvut.name = "Väkiluku"
vakiluvut.index.name = "Kaupunki"
print(vakiluvut)

<a id="12"></a>
## pandas-DataFrame
Datan analysoinnissa hyödyllisin tietorakenne on **DataFrame**, joka on suorakulmion muotoinen datataulukko. DataFrame koostuu riveistä ja sarakkeista, sarakkeita voidaan ajatella Serieseinä, joilla on sama indeksi (rivi-indeksi, riviotsikot). Sarakkeiden nimistä (sarakeotsikoista) muodostuu "sarake-indeksi".

Jatkossa DataFramet luodaan tiedostoista dataa lukemalla, mutta tehdään aluksi muuten: yksi tapa luoda DataFrame on käyttää sanakirjaa samanmittaisista listoista, NumPy-taulukoista tai Seriesista:

In [ ]:
data = {'nimi': ['Rovaniemi', 'Jyväskylä', 'Helsinki', 'Kuopio'],
         'väkiluku': [62000, 140000, 645000 , 118000],
         'pinta-ala': [8016, 1466, 215 , 4326],
         'maakunta': ['Lappi', 'Keski-Suomi', 'Uusimaa', 'Pohjois-Savo']}

df = pd.DataFrame(data)

print(df)  # indeksi luotiin automaattisesti, sarakkeet lajiteltiin aakkosjärjestykseen

df # Jupyter näyttää DataFramen hienona taulukkona ilman print-komentoa. 
   # Tämän jälkeen ei voi kuitenkaan tulostaa mitään samassa koodilohkossa

In [ ]:
data = {'nimi': ['Rovaniemi', 'Jyväskylä', 'Helsinki', 'Kuopio'],
         'väkiluku': [62000, 140000, 645000 , 118000],
         'pinta-ala': [8016, 1466, 215 , 4326],
         'maakunta': ['Lappi', 'Keski-Suomi', 'Uusimaa', 'Pohjois-Savo']}

df = pd.DataFrame(data, columns=['nimi', 'väkiluku', 'pinta-ala', 'työttömyys'])

df  # luodessa annetulla columns-parametrilla määritetään sarakkeet

In [ ]:
data = { 'väkiluku': [62000, 140000, 645000 , 118000],
         'pinta-ala': [8016, 1466, 215 , 4326],
         'maakunta': ['Lappi', 'Keski-Suomi', 'Uusimaa', 'Pohjois-Savo']}

df = pd.DataFrame(data, index=['Rovaniemi', 'Jyväskylä', 'Helsinki', 'Kuopio'])

print(df)  # index annettu luodessa

print('\n--------------\n')

print(df.columns) #tulostaa sarakenimet

Sarakkeen voi "poimia" Seriesina kahdella tavalla: `df['sarake']` tai `df.sarake`.  
Suositeltavampi on ensimmäinen tapa, koska jos sarakkeen nimessä on välilyönti/väliviiiva, toinen tapa ei toimi.  
Seriesin nimeksi tulee sarakkeen otsikko.

In [ ]:
data = { 'väkiluku': [62000, 140000, 645000 , 118000],
         'pinta-ala': [8016, 1466, 215 , 4326],
         'maakunta': ['Lappi', 'Keski-Suomi', 'Uusimaa', 'Pohjois-Savo']}

df = pd.DataFrame(data, index=['Rovaniemi', 'Jyväskylä', 'Helsinki', 'Kuopio'])

print(df)

print('\n----------------\n')

ser1 = df['pinta-ala']
print(ser1)  # index annettu luodessa

print('\n----------------\n')

ser2 = df.maakunta
print(ser2)

Rivin voi poimia `loc`-attribuutilla (alempana tästä lisää):

In [ ]:
print(df.loc['Rovaniemi'])

Sarakkeita voi muokata tai lisätä (jos sarakenimeä ei löydy) sijoitusoperaatiolla:

In [ ]:
data = { 'väkiluku': [62000, 140000, 645000 , 118000],
         'pinta-ala': [8016, 1466, 215 , 4326],
         'maakunta': ['Lappi', 'Keski-Suomi', 'Uusimaa', np.nan]}  #'Pohjois-Savo'

df = pd.DataFrame(data, index=['Rovaniemi', 'Jyväskylä', 'Helsinki', 'Kuopio'])


df['uusisarake'] = 15
print(df)

print('\n--------------------\n')

df['uusisarake'] = np.arange(0,4)  # np.arange(0,4) antaa NumPy-taulukon [0, 1, 2, 3]
print(df)

print('\n--------------------\n')


df['väentiheys'] = df['väkiluku']/df['pinta-ala']
print(df)


print('\n--------------------\n')

df['iso'] = df['väkiluku'] >100000 # antaa Boolean-tyyppisen Seriesin, jossa arvot sen mukaan onko väkiluku >100000
print(df)



print('\n--------------------\n')
joukkueet = pd.Series({'Helsinki': 'HIFK' , 'Jyväskylä': 'Jyp', 'Kuopio': 'KalPa'})
df['joukkue'] = joukkueet              
print(df)

DataFramen voi luoda myös sisäkkäisistä sanakirjoista. Tällöin ulommat avaimet menevät sarakeotsikoiksi ja sisemmät riviotsikoiksi (indeksiksi). Rivit ja sarakkeet voi vaihtaa päittäin T-metodilla (transpose).


Tässä Jukurien ja Sportin sarakkeet tulee desimaalilukuina, koska puuttuvaa arvoa kuvaavaa NaN (Not a Number) käsitellään desimaalilukuna.

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

df2 = df.T # transpoosi eli rivit ja sarakkeet vaihdettu toisin päin

print(df2)

<a id="13"></a>
### Uudelleenindeksointi (reindex)
`reindex`-metodilla voidaan DataFramesta (tai Seriesista) ottaa annetun uuden indeksin mukaiset rivit.

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

df2 = df.reindex([2020, 2019, 2018, 2017])


print(df2)

Parametrilla `columns` voidaan uudelleenindeksoida sarakkeiden mukaan:

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })


print(df)

print('\n---------\n')

df2 = df.reindex(columns = ['Tappara', 'Jukurit', 'Jyp'])

print(df2)

<a id="14"></a>
### Rivien tai sarakkeiden poistaminen (drop)
`drop`-metodilla voi poistaa rivejä (oletus) tai sarakkeita parametrilla `axis=1`:

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })


print(df)

print('\n---------\n')


df.drop(2015)

print(df)  # ei tapahdu mitään koska poistaminen eti tapahdu alkuperäiseen DataFrameen


print('\n---------\n')

df2 =  df.drop(2015)
print(df2)

In [ ]:
print(df.drop([2015, 2016]))

print('\n---------\n')

print(df.drop('Jyp', axis=1))


print('\n---------\n')

df.drop(2015, inplace = True)  # tällä tekee suoraan alkuperäiseen DataFrameen

print(df)

`drop`-metodi antaa siis uuden DataFramen (tai Seriesin), josta rivit on poistettu. Parametrilla `inplace=True` saadaan poistaminen tehtyä alkuperäiselle DataFramelle.

<a id="15"></a>
### Valinta ja suodatus
**Seriesissa** valitseminen menee samaan tyyliin kuin NumPy-taulukoissa, mutta voit käyttää myös Seriesin indeksiä valintaan. 
Viimeinen esimerkki näyttää että indeksiä käytettäessä siivutus `['s':'d']` sisällyttää myös loppuindeksin mukaisen alkion, tosin kuin "paikkoja" eli rivinumeroita käyttävä `[2:4]`

In [ ]:
ser1 = pd.Series(np.arange(0,12,2), index=['p','s','v','d','j','f'])
print(ser1)

print('---------')

print(ser1['s']) # indeksin s

print('---------')

print(ser1[2]) # rivinro 2

print('---------')

print(ser1[2:4])  # rivit 2 ja 3, 4 ei mukana

print('---------')

print(ser1[['j', 'v']]) # indeksistä j ja v

print('---------')

print(ser1[[0,5]]) # rivinrot 0 ja 5

print('---------')

print(ser1['s':'d'])  # d myös mukana

**DataFramessa** `df[sarake]` -tyylinen syntaksi antaa perustapauksissa sarakkeen tai sarakkeita:

In [ ]:
#import pandas as pd
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

print(df['Jyp'])

print('\n---------\n')

print(df[['Jyp', 'Sport']])

print('\n---------\n')

# erona reindex:iin on se, että tässä tulee virhe, jos saraketta ei ole

print(df[['Tappara', 'Jyp', 'Sport']])

Tässä on kuitenkin jotain eikoistapauksia:  
* `df[2]` ei toimi jos sarakeotsikoissa ei ole 2:sta  
* `df[1:3]` antaakin **rivit** 1 ja 2 (loppurivi 3 ei ole mukana)
* Boolean-taulukolla suodattaminen eli `df[df['Jyp']<4]` antaa ehdon täyttävät **rivit**

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

print(df[:2]) # rivit paikoissa 0 ja 1

print('\n---------\n')

print(df[df['Jyp']<4]) # ne rivit, joissa Jyp<4, kaikki sarakkeet

print('\n---------\n')

print(df['Jyp']<4) # tämä antaa True/False-Seriesin, joka df[df['Jyp']<4]:ssa suodattaa rivit indeksin mukaan

print('\n---------\n')

print(df[df['Jyp']<4]['Jyp'])  # antaa Serieksen koska vain 1 sarake

print('\n---------\n')

print(df['Jyp'][df['Jyp']<4])  # sama kuin edellinen

Boolean-taulukon voi tehdä myös koko DataFramesta. Tämän avulla voi helposti muuttaa tietyn ehdon täyttäviä arvoja:

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

print(df>3) # True/False -dataframe

print('\n---------\n')

df[df>3] = "ei mitalia"
print(df)

<a id="16"></a>
### loc- ja iloc -operaattorit
Riviotsikoiden mukaan valintaa voi tehdä `loc`-operaattorilla, joka tarjoaa NumPy-tyylisen merkintätavan `df.loc[rivi,sarake]`.  
**loc** käyttää rivi- ja sarakeotsikkoja, kun taas **iloc** vastaavasti rivi- ja sarakenumeroita (1. rivi = 0 jne).

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })
print(df)

print('\n---------\n')

print(df.loc[2015, 'Jyp'])

print('\n---------\n')

print(df.loc[[2015, 2016], ['Jyp', 'Sport']])

print('\n---------\n')

print(df.iloc[[1,2], 2])

print('\n---------\n')


df.iloc[[1,2], 2] = 100
print(df)

Siivutus toimii myös loc- ja iloc-operaattoreilla. Huomaa että otsikoilla siivutettaessa (loc) myös loppurivi/sarake on mukana, rivi/sarakenumeroilla (iloc) ei ole. 

Pelkkä `:` tarkoittaa kaikkia rivejä/sarakkeita.

Sarake-osan voi jättää myös pois, jolloin tutkitaan vain rivejä. Jos halutaan tutkia vain sarakkeita, rivi-osan voi merkitä `:`

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

print(df.loc[:2015, 'Jyp'])   # 2015-rivi on mukana.

print('\n---------\n')

print(df.loc[2016:2018, ['Jyp', 'Sport']])

df2 = df.loc[2016:2018, ['Jyp', 'Sport']]

print('\n---------\n')

print(df.iloc[0:3, :]) # 4. rivi (rivi nro 3) ei mukana

print('\n---------\n')

Myös Boolean-taulukkoa voi käyttää valitsemiseen loc-operaattorilla:

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

# kaikki rivit, joissa Jyp < 4. Kaikki sarakkeet
print(df[df['Jyp']<4]) 

print('\n---------\n')

# kaikki rivit, joissa Jyp < 4. Sarakkeet Jyp ja Jukurit
print(df.loc[df['Jyp']<4, ['Jyp', 'Jukurit']]) 


# samoin menisi näin:
# print(df[df['Jyp']<4][['Jyp', 'Jukurit']]) 


print('\n---------\n')

# kaikki sarakkeet, joissa 2017-sija on > 10. Kaikki rivit.
print(df.loc[ : , df.loc[2017]>10]) 

print('\n---------\n')

# rivit, joissa Sport>10, sarakkeet joissa 2017>10
print(df.loc[df['Sport']>10 , df.loc[2017]>10]) 

print('\n---------\n')

# 2 viimeistä saraketta, rivit, joissa Jyp<4 
print(df.iloc[:,-2:][df['Jyp']<4])

`loc`-operaattoorin ja "suoran" suodatuksen ero nähdään alla:   
jos tehdään jotain suodatuksen antamalle "DataFramen osalle", `loc`antaa näkymän alkuperäiseen DataFrameen, kun taas "suora" suodatus antaa kopion siitä.  

Tästä tuleekin varoitus  

    A value is trying to be set on a copy of a slice from a DataFrame.
    Try using .loc[row_indexer,col_indexer] = value instead_

In [ ]:

df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

df[df['Jyp']<4]['Jyp'] = 'mitali'

print(df)

print('\n---------\n')

df.loc[df['Jyp']<4, 'Jyp'] = 'mitali' 


print(df)

Myös `at` ja `iat` -operaattoreilla saadaan _yksittäiset alkiot_ rivi- ja sarakeotsikoiden (at) tai rivi- ja sarakenumeroiden (iat) mukaan

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })


print(df)

print('\n---------\n')

print(df.loc[2017, 'Jyp']) 

print(df.at[2017, 'Jyp']) 

print(df.iat[2, 0])

<a id="17"></a>
### ja/tai/isin
Boolean-taulukolla suodatukseen voi antaa myös useampia ehtoja, &-merkki toimii **ja**-operaattorina ja |-merkki **tai**-operaattorina. Tällöin yksittäiset ehdot pitää olla suluissa.

pandasin `isin`-funktiota voi käyttää testaamaan onko arvo joku listassa annetuista.  
`~`-operaattorilla tämän tuloksen voi kääntää vastakkaiseksi, eli saadaan ikään kuin "ei ole listassa".

In [ ]:
data = { 'väkiluku': [62000, 140000, 645000 , 118000, 21393, 20352 ],
         'pinta-ala': [8016, 1466, 215 , 4326, 872, 1823],
         'maakunta': ['Lappi', 'Keski-Suomi', 'Uusimaa', 'Pohjois-Savo','Pohjois-Savo', 'Keski-Suomi']}

df = pd.DataFrame(data, index=['Rovaniemi', 'Jyväskylä', 'Helsinki', 'Kuopio', 'Iisalmi','Jämsä'])

print(df)

print('-----------\n')

print(df[(df['maakunta']=='Keski-Suomi') & (df['pinta-ala']>1500)])

print('-----------\n')

print(df[(df['maakunta']=='Lappi') | (df['väkiluku']<=50000)])


print('-----------\n')

print(df[df['maakunta'].isin(['Lappi', 'Keski-Suomi'])])


print('-----------\n')

nogo = ['Uusimaa', 'Pohjois-Savo']

print(df[~df['maakunta'].isin(nogo)])

<a id="18"></a>
### DataFramen lajittelu
DataFramea ja Seriesia voi lajitella `sort_values` ja `sort_index` -funktioilla.  
Parametrilla `ascending = False` lajitellaan laskevassa järjestyksessä.  
Parametrilla `axis = 1` lajitellaan riviotsikoiden mukaan.  
`inplace = True` -parametrilla, saadaan tämäkin tehtyä alkuperäiseen DataFrameen, muuten palautetaan uusi DataFrame.

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

df2 = df.sort_index(ascending = False)

print(df2)

print('\n---------\n')

df3 = df.sort_values('Jyp', ascending = False)

print(df3)

print('\n---------\n')

df.sort_values(['Jyp', 'Sport'], inplace = True)

print(df)

print('\n---------\n')

df4 = df.sort_values('Jukurit')

print(df4[:2]) # kaksi pienintä Jukurit-sijoitusta

<a id="19"></a>
### head, tail, sample

DataFramen ensimmäiset rivit saa myös `head()`-funktiolla, ilman parametria rivejä tulee 5, mutta antamalla luku saadaan haluttu määrä rivejä.

Vastaavasti `tail()` antaa rivejä lopusta ja `sample()` satunnaisia rivejä (oletuksen yhden)

In [ ]:
df = pd.DataFrame({'Jyp': {2014: 5, 2015: 3,  2016: 4,  2017: 3 , 2018: 5 , 2019: 10},
                   'Sport' : {2015: 14, 2016: 10, 2017: 14, 2018: 15 , 2019:11},
                    'Jukurit' : {2017: 11, 2018: 13, 2019:14}   
                  })

print(df)

print('\n---------\n')

print(df.head())

print('\n---------\n')


print(df.tail(3))

print('\n---------\n')

print(df.sample())

print('\n---------\n')


print(df.sample(2))

print('\n---------\n')