# Datan analysointi S2020 - kerta 3
<a href="#12">Datan kuvailu</a>  
<a href="#13">count</a>  
<a href="#14">sum</a>  
<a href="#15">min,max</a>  
<a href="#16">argmin, argmax, idxmin, idxmax</a>  
<a href="#17">mean, median, std</a>  
<a href="#18">rank</a>  
<a href="#19">describe</a>  
<a href="#20">value_counts</a>  
<a href="#21">unique, nunique</a>  
<a href="#22">**Ryhmittely, groupby**</a>  
<a href="#26">Muita DataFramen/Serieksen metodeja</a>  
<a href="#27">shift</a>  
<a href="#28">diff</a>  
<a href="#29">cumsum</a>

<a id="12"> </a>
## Datan kuvailu
DataFramesta saadaan ulos helposti yksinkertaista kuvailevaa statistiikkaa.

Avataan tätä lukua varten tiedosto titanic.csv, jossa on tietoa n. 800 Titanicin matkustajasta.

In [21]:
import pandas as pd

df = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananalk2019/kerta3/titanic.csv', index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<a id="13"> </a>
### shape, count
`shape` antaa tuplena DataFramen rivit ja sarakkeet, `shape[0]` rivien lukumäärän.   
`count`-metodi kertoo kuinka monta (ei-NaN) arvoa kussakin sarakkeessa on. Tästä näkee siis paljonko on puuttuvia arvoja.

In [22]:
print(df.shape)   # rivit, sarakkeet tuplena (monikko)

print('------------\n')

print(df.shape[0])   # rivit

print('------------\n')

print(df.count())

(891, 11)
------------

891
------------

Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64

<a id="14"> </a>
### sum
`sum`-metodi laskee summat joko jokaisesta sarakkeesta tai pyydetystä sarakkeesta.

In [23]:
print(df.sum())

print('\n-----------------\n')

print(df['Fare'].sum())

Survived                                                  342
Pclass                                                   2057
Name        Braund, Mr. Owen HarrisCumings, Mrs. John Brad...
Sex         malefemalefemalefemalemalemalemalemalefemalefe...
Age                                                   21205.2
SibSp                                                     466
Parch                                                     340
Ticket      A/5 21171PC 17599STON/O2. 31012821138033734503...
Fare                                                  28693.9
dtype: object

-----------------

28693.9493

<a id="15"> </a>
### min,max
Suurin ja pienin arvo.

In [24]:
print(df.min())

print('\n-----------------\n')

print(df.max())

Survived                      0
Pclass                        1
Name        Abbing, Mr. Anthony
Sex                      female
Age                        0.42
SibSp                         0
Parch                         0
Ticket                   110152
Fare                          0
dtype: object

-----------------

Survived                              1
Pclass                                3
Name        van Melkebeke, Mr. Philemon
Sex                                male
Age                                  80
SibSp                                 8
Parch                                 6
Ticket                        WE/P 5735
Fare                            512.329
dtype: object

<a id="16"> </a>
### argmin, argmax, idxmin, idxmax
Kuinka monella rivillä on kunkin sarakkeen suurin/pienin arvo (argmin/argmax) tai minkä riviotsikon rivillä (idxmin/idxmax).

In [25]:
# suurin Fare

print(df['Fare'].idxmax())

print(df.loc[df['Fare'].idxmax()])

259
Survived                   1
Pclass                     1
Name        Ward, Miss. Anna
Sex                   female
Age                       35
SibSp                      0
Parch                      0
Ticket              PC 17755
Fare                 512.329
Cabin                    NaN
Embarked                   C
Name: 259, dtype: object

<a id="17"> </a>
### mean, median, std
Keskiarvo, mediaani (keskimmäinen arvo), keskihajonta

In [26]:
print(df.mean())

Survived     0.383838
Pclass       2.308642
Age         29.699118
SibSp        0.523008
Parch        0.381594
Fare        32.204208
dtype: float64

<a id="18"> </a>
### rank
`rank`-metodilla voidaan määrittää jokaiselle arvolle sijoitus kyseisen Seriesin (yleensä sarakkeen) suuruusjärjestyksessä.

In [27]:
print(df['Fare'].rank().head())

PassengerId
1     77.0
2    789.0
3    232.5
4    748.0
5    264.0
Name: Fare, dtype: float64

Siis 1. rivin matkustajan Fare on 77. pienin jne.  
Nähdään, että 3. rivillä on 232.5, oletuksena tasasijoituksista `rank` antaa keskiarvon sijoista, parametrilla `method='first'` nämä menee eri sijoille järjestyksessä, missä ne olivat Seriesissä. `method='min'` antaa kaikille tasasijoilla oleville ryhmän pienimmän sijoituksen.

<a id="19"> </a>
### describe
antaa isomman setin statistiikkaa yhdellä komennolla.

In [28]:
print(df.describe())

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Tekstimuotoista dataa sisältäville Seriesille (DataFrame-sarakkeille) `describe`antaa hieman erilaisia arvoja:

In [29]:
print(df['Cabin'].describe())

count         204
unique        147
top       B96 B98
freq            4
Name: Cabin, dtype: object

<a id="20"> </a>
### value_counts
Value_counts-funktio laskee muuttujan ainutkertaisten arvojen frekvenssit. `sort = False` määrittää lajittelun frekvenssien sijasta avainten mukaiseen järjestykseen.

In [30]:
print(df['Pclass'].value_counts())

print('\n-----------------\n')

print(df['SibSp'].value_counts(sort = False))

3    491
1    216
2    184
Name: Pclass, dtype: int64

-----------------

0    608
1    209
2     28
3     16
4     18
5      5
8      7
Name: SibSp, dtype: int64

<a id="21"> </a>
### unique, nunique
`unique` antaa listan jossa jokainen arvo on vain kerran, 'nunique' taas ainutkertaisten arvojen lukumäärän.

In [31]:
print(df['Age'].unique())

print('\n-----------------\n')

print(df['Fare'].nunique())

[22.   38.   26.   35.     nan 54.    2.   27.   14.    4.   58.   20.
 39.   55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.
 18.    3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.
 16.   25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.
 14.5  70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.
 56.   50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.
 60.   10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.
  0.67 30.5   0.42 34.5  74.  ]

-----------------

248

<a id="22"> </a>
## Ryhmittely, groupby

Ryhmittelyä tehdään usein *split-apply-combine* -periaatteella, jota voidaan kuvata oheisella kaaviolla:  
![split-apply-combine](https://student.labranet.jamk.fi/~varpe/datananalk2019/kerta3/sac.png)  

Eli ensin jaetaan data ryhmiin jollain kriteerillä, sitten tehdään ryhmille jokin operaatio ja lopuksi yhdistetään tulokset:

Data ryhmitellään jonkin sarakkeen mukaan komennolla `groupby`:

In [32]:
print(df.groupby('Pclass'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000252FD505788>

Nähdään että pelkkä ryhmittely ei tulosta mitään, se saa aikaan DataFrameGroupBy -objektin, joka pitää sisällään edelleen kaiken DataFramen informaation... tällä voidaan kuitenkin tehdä laskentaa:

In [33]:
print(df.groupby('Pclass')['Fare'].mean())


print('\n-----------------\n')

#tai

print(df['Fare'].groupby(df['Pclass']).median())  # tässä sama asia tehty toisin päin

print('\n-----------------\n')

# yhdistetään edelliset Seriesit DataFrameksi

df2 = pd.DataFrame(df.groupby(df['Pclass'])['Fare'].mean())  # groupby-hommasta tulee Series, tässä tehty siitä DataFrame
df2['median'] = df['Fare'].groupby(df['Pclass']).median()
print(df2)

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

-----------------

Pclass
1    60.2875
2    14.2500
3     8.0500
Name: Fare, dtype: float64

-----------------

             Fare   median
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

Edellä toisessa vaiheessa  `df['Fare']`-Series ryhmiteltiin Pclass:n mukaan, vaikka `df['Fare']`-Series ei siällä Pclass-tietoa. Tämän takia ryhmittelyperusteeksi annettiinkin `df['Pclass']`-Series, joka siis antaa ryhmittelyssä tiedon mikä indeksi kuuluu mihinkin ryhmään, ja koska `df['Fare']`-Series sisältää samat indeksit, voidaan määrät laskea ryhmittäin. 

Ensimmäisessä vaiheessa sama tehtiin "toisin päin", eli ryhmiteltiin koko DataFrame ja otettiin ryhmittelystä vain Fare-sarake. Tällöin ryhmittelyperusteeksi ei tarvitse antaa `df['Pclass']` vaan riittää vain sarakkeen nimi `'Pclass'` (koska sarake löytyy df:stä).

Ryhmittelyn tuottamalle `GroupBy`-objektilla on muutamia optimoituja metodeja koostelukujen laskemiseen:
* `count`	lukumäärä (ei NaN-arvoja)
* `sum`	summa
* `mean`	keskiarvo
* `median`	mediaani
* `std`, `var`	keskihajonta, varianssi
* `min`, `max`	minimi, maksimi
* `prod`	tulo
* `first`, `last`	ensimmäinen, viimeinen ei-NaN arvo

In [34]:
dfpl = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananalk2019/kerta3/season-1718_csv.csv')

print(dfpl.head())
#tiedostossa kauden 17-18 Valioliigan ottelutulokset


dfpl['HomeTeam'].groupby(dfpl['FTR']).first()  
# antaa listan (=kauden) ensimmäisten kotitappion (A), kotitasapelin (D) ja kotivoiton (H) joukkueet

         Date        HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0  2017-08-11         Arsenal     Leicester     4     3   H     2     2   D
1  2017-08-12        Brighton      Man City     0     2   A     0     0   D
2  2017-08-12         Chelsea       Burnley     2     3   A     0     3   A
3  2017-08-12  Crystal Palace  Huddersfield     0     3   A     0     2   A
4  2017-08-12         Everton         Stoke     1     0   H     1     0   H

       Referee  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       M Dean  ...   10    3   9  12   9   4   0   1   0   0
1     M Oliver  ...    2    4   6   9   3  10   0   2   0   0
2     C Pawson  ...    6    5  16  11   8   5   3   3   2   0
3       J Moss  ...    4    6   7  19  12   9   1   3   0   0
4  N Swarbrick  ...    4    1  13  10   6   7   1   1   0   0

[5 rows x 22 columns]

FTR
A       Brighton
D    Southampton
H        Arsenal
Name: HomeTeam, dtype: object

Myös muita Serieseille määriteltyjä koostefuktioita voi käyttää:

In [35]:
dfpl['FTHG'].groupby(dfpl['FTR']).unique()  # kotijoukkueen maalimäärät kotitappioissa (A), -tasureissa (D) ja -voitoissa (H)

FTR
A             [0, 2, 1]
D          [0, 3, 1, 2]
H    [4, 1, 2, 3, 5, 7]
Name: FTHG, dtype: object

Ryhmille voi määrittää myös omia koostefunktioita käyttämällä `agg`-metodia:

In [36]:
def vaihteluvali(x):
    return x.max()-x.min()

print(dfpl['FTHG'].groupby(dfpl['FTR']).agg(vaihteluvali))

print('\n------------\n')

# annetaan lista funktioista, pandasin tai itse määriettyjä
print(dfpl['FTHG'].groupby(dfpl['FTR']).agg([vaihteluvali, max, min]))

print('\n------------\n')

# tässä tuloksen sarakkeet nimetty itse
print(dfpl['FTHG'].groupby(dfpl['FTR']).agg([('vvali', vaihteluvali), ('eniten',max), ('vähiten',min)]))

FTR
A    2
D    3
H    6
Name: FTHG, dtype: int64

------------

     vaihteluvali  max  min
FTR
A               2    2    0
D               3    3    0
H               6    7    1

------------

     vvali  eniten  vähiten
FTR
A        2       2        0
D        3       3        0
H        6       7        1

Groupby:n value_counts antaa Serieksen, jossa on kaksitasoinen, hierarkinen indeksi. Sama saadaan myös antamalla useampi ryhmittelyperuste:

In [37]:
print(df['Survived'].groupby(df['Pclass']).value_counts(sort=False))

Pclass  Survived
1       0            80
        1           136
2       0            97
        1            87
3       0           372
        1           119
Name: Survived, dtype: int64

In [38]:
df1 = df['Fare'].groupby([df['Sex'], df['Survived']]).mean()

df1

Sex     Survived
female  0           23.024385
        1           51.938573
male    0           21.960993
        1           40.821484
Name: Fare, dtype: float64

`unstack`-metodilla voidaan muotoilla 2-tasoinen indeksi riviksi ja sarakkeiksi (sama saadaan myöhemmin crosstab-funktiolla):

In [39]:
df1 = df['Fare'].groupby([df['Sex'], df['Survived']]).mean().unstack()


df1.applymap(lambda x: '{:.1f}'.format(x))

Survived     0     1
Sex
female    23.0  51.9
male      22.0  40.8

Samalla kertaa voi laskea kaikkien sarakkeiden ryhmiteltyjä arvoja

In [40]:
print(df.groupby(['Sex']).sum())

        Survived  Pclass       Age  SibSp  Parch        Fare
Sex
female       233     678   7286.00    218    204  13966.6628
male         109    1379  13919.17    248    136  14727.2865

In [41]:
df1 = df.groupby(df['Survived']).describe()

print(df1)

print('\n---------\n')


with pd.option_context('display.max_rows', None, 'display.max_columns', None): # tämä määrittää koko DataFramen tulostetavaksi
    print(df1)

         Pclass                                                 Age  \
          count      mean       std  min  25%  50%  75%  max  count
Survived
0         549.0  2.531876  0.735805  1.0  2.0  3.0  3.0  3.0  424.0
1         342.0  1.950292  0.863321  1.0  1.0  2.0  3.0  3.0  290.0

                     ... Parch        Fare                             \
               mean  ...   75%  max  count       mean        std  min
Survived             ...
0         30.626179  ...   0.0  6.0  549.0  22.117887  31.388207  0.0
1         28.343690  ...   1.0  5.0  342.0  48.395408  66.596998  0.0


              25%   50%   75%       max
Survived
0          7.8542  10.5  26.0  263.0000
1         12.4750  26.0  57.0  512.3292

[2 rows x 40 columns]

---------

         Pclass                                                 Age  \
          count      mean       std  min  25%  50%  75%  max  count
Survived
0         549.0  2.531876  0.735805  1.0  2.0  3.0  3.0  3.0  424.0
1         342.0  1.950292  0.863321  1.0  1.0  2.0  3.0  3.0  290.0

                                                              SibSp            \
               mean        std   min   25%   50%   75%   max  count      mean
Survived
0         30.626179  14.172110  1.00  21.0  28.0  39.0  74.0  549.0  0.553734
1         28.343690  14.950952  0.42  19.0  28.0  36.0  80.0  342.0  0.473684

                                             Parch                           \
               std  min  25%  50%  75%  max  count      mean       std  min
Survived
0         1.288399  0.0  0.0  0.0  1.0  8.0  549.0  0.329690  0.823166  0.0
1         0.708688  0.0  0.0  0.0  1.0  4.0  342.0  0.464912  0.771712  0.0

                               Fare                                            \
          25%  50%  75%  max  count       mean        std  min      25%   50%
Survived
0         0.0  0.0  0.0  6.0  549.0  22.117887  31.388207  0.0   7.8542  10.5
1         0.0  0.0  1.0  5.0  342.0  48.395408  66.596998  0.0  12.4750  26.0


           75%       max
Survived
0         26.0  263.0000
1         57.0  512.3292

groupby:n palauttaman objektin voi myös iteroida for-silmukalla, tällöin saadaan tuple (monikko) muodossa nimi,data:

In [42]:
for name, data in df['Survived'].groupby(df['Pclass']):
      print("LUOKKA ",name)
      print(data.value_counts())

LUOKKA  1
1    136
0     80
Name: Survived, dtype: int64
LUOKKA  2
0    97
1    87
Name: Survived, dtype: int64
LUOKKA  3
0    372
1    119
Name: Survived, dtype: int64

In [43]:
kotona = dfpl['HomeTeam'].groupby(dfpl['FTR'])

for name, data in kotona:
      print("Tulos: ",name)
      print(data.value_counts())

Tulos:  A
Swansea           10
Stoke              9
Southampton        8
Huddersfield       8
West Brom          7
Bournemouth        7
Newcastle          7
Burnley            7
Crystal Palace     7
Leicester          6
West Ham           6
Watford            6
Everton            5
Brighton           4
Chelsea            4
Arsenal            2
Tottenham          2
Man United         2
Man City           1
Name: HomeTeam, dtype: int64
Tulos:  D
West Brom         9
Brighton          8
Southampton       7
Liverpool         7
West Ham          6
Watford           6
Leicester         6
Bournemouth       5
Crystal Palace    5
Huddersfield      5
Burnley           5
Stoke             5
Chelsea           4
Tottenham         4
Newcastle         4
Everton           4
Swansea           3
Man City          2
Arsenal           2
Man United        2
Name: HomeTeam, dtype: int64
Tulos:  H
Man City          16
Arsenal           15
Man United        15
Tottenham         13
Liverpool         12
Chelsea           11
Everton           10
Newcastle          8
Burnley            7
Leicester          7
Watford            7
Brighton           7
Crystal Palace     7
Bournemouth        7
West Ham           7
Huddersfield       6
Swansea            6
Stoke              5
Southampton        4
West Brom          3
Name: HomeTeam, dtype: int64

<a id="26"> </a>

## Muita DataFramen/Serieksen metodeja


<a id="27"> </a>
### shift


`shift`-metodilla voidaan dataa "siirtää" annettu rivimäärä eteen- tai taaksepäin. 

`shift(1)` siirtää dataa yhden rivin eteenpäin, alla siis alunperin rivi-indeksillä 0 oleva data on `df.shift(1)`:n palauttamassa DataFramessa rivi-indeksissä 1 jne.

Vastaavasti `shift(-1)` siirtää dataa taaksepäin.

In [44]:
df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananals2019/kerta3/saa_jkl2019.csv', usecols=[0,1,2,3,5])

print(df.head(7))

print('\n-----------\n')

df['edellinen']=df.shift(1)['Ilman lämpötila (degC)']

df['seuraava']=df.shift(-1)['Ilman lämpötila (degC)']

print(df.head(7))

   Vuosi  Kk  Pv    Klo  Ilman lämpötila (degC)
0   2019  10   1  00:00                    10.0
1   2019  10   1  00:10                    10.0
2   2019  10   1  00:20                     9.9
3   2019  10   1  00:30                     9.9
4   2019  10   1  00:40                     NaN
5   2019  10   1  00:50                     9.7
6   2019  10   1  01:00                     9.7

-----------

   Vuosi  Kk  Pv    Klo  Ilman lämpötila (degC)  edellinen  seuraava
0   2019  10   1  00:00                    10.0        NaN      10.0
1   2019  10   1  00:10                    10.0       10.0       9.9
2   2019  10   1  00:20                     9.9       10.0       9.9
3   2019  10   1  00:30                     9.9        9.9       NaN
4   2019  10   1  00:40                     NaN        9.9       9.7
5   2019  10   1  00:50                     9.7        NaN       9.7
6   2019  10   1  01:00                     9.7        9.7       9.7

tällä voidaan laskea esim. kuinka paljon lämpötila on muuttunut edellisen tunnin (=6 riviä) aikana.

In [45]:
df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananals2019/kerta3/saa_jkl2019.csv', usecols=[0,1,2,3,5])

print(df.head(7))

print('\n-----------\n')

df['muutos tunnissa']=df['Ilman lämpötila (degC)'] -df.shift(6)['Ilman lämpötila (degC)']


print(df.head(7))


print('\n-----------\n')

print(df.sort_values('muutos tunnissa').head(3)) # suurimmat pudotukset


print('\n-----------\n')

print(df.sort_values('muutos tunnissa', ascending=False).head(3)) # suurimmat nousut

   Vuosi  Kk  Pv    Klo  Ilman lämpötila (degC)
0   2019  10   1  00:00                    10.0
1   2019  10   1  00:10                    10.0
2   2019  10   1  00:20                     9.9
3   2019  10   1  00:30                     9.9
4   2019  10   1  00:40                     NaN
5   2019  10   1  00:50                     9.7
6   2019  10   1  01:00                     9.7

-----------

   Vuosi  Kk  Pv    Klo  Ilman lämpötila (degC)  muutos tunnissa
0   2019  10   1  00:00                    10.0              NaN
1   2019  10   1  00:10                    10.0              NaN
2   2019  10   1  00:20                     9.9              NaN
3   2019  10   1  00:30                     9.9              NaN
4   2019  10   1  00:40                     NaN              NaN
5   2019  10   1  00:50                     9.7              NaN
6   2019  10   1  01:00                     9.7             -0.3

-----------

     Vuosi  Kk  Pv    Klo  Ilman lämpötila (degC)  muutos tunnissa
401   2019  10   5  04:10                    -1.4             -3.6
400   2019  10   5  04:00                    -1.4             -3.5
402   2019  10   5  04:20                    -1.1             -3.3

-----------

      Vuosi  Kk  Pv    Klo  Ilman lämpötila (degC)  muutos tunnissa
3097   2019  10  23  21:30                     3.8              3.0
4102   2019  10  30  21:00                    -3.3              3.0
3101   2019  10  23  22:10                     3.6              2.9

<a id="28"> </a>


### diff

Jos halutaan laskea vain arvon muutosta aikaisempiin (tai seuraaviin nähden), se saadaan suoraan `diff`-metodilla.

In [46]:
df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananals2019/kerta3/saa_jkl2019.csv', usecols=[0,1,2,3,5])

print(df.head(7))

print('\n-----------\n')

df['muutos tunnissa']=df['Ilman lämpötila (degC)'].diff(6)


print(df.head(7))

   Vuosi  Kk  Pv    Klo  Ilman lämpötila (degC)
0   2019  10   1  00:00                    10.0
1   2019  10   1  00:10                    10.0
2   2019  10   1  00:20                     9.9
3   2019  10   1  00:30                     9.9
4   2019  10   1  00:40                     NaN
5   2019  10   1  00:50                     9.7
6   2019  10   1  01:00                     9.7

-----------

   Vuosi  Kk  Pv    Klo  Ilman lämpötila (degC)  muutos tunnissa
0   2019  10   1  00:00                    10.0              NaN
1   2019  10   1  00:10                    10.0              NaN
2   2019  10   1  00:20                     9.9              NaN
3   2019  10   1  00:30                     9.9              NaN
4   2019  10   1  00:40                     NaN              NaN
5   2019  10   1  00:50                     9.7              NaN
6   2019  10   1  01:00                     9.7             -0.3

<a id="29"> </a>

### cumsum
`cumsum` laskee kumulatiivisen summan sarjan alusta lukien. Tällä voidaan laskea esimerkiksi montako kertaa joku tapahtuma on esiintynyt.

Esimerkissä on Norwichin ottelut Englannin mestaruussarjassa 2018-2019 ja Teemu Pukin tekemät maalit.

In [47]:
df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananals2019/kerta3/pukki.txt')

print(df.head(7))

print('\n-----------\n')

df['Pukki yht']=df['Pukin maalit'].cumsum()

print(df.tail(7))

         pvm     vastustaja  Pukin maalit
0   4.8.2018     Birmingham             0
1  11.8.2018  West Bromwich             1
2  18.8.2018  Sheffield Utd             0
3  22.8.2018        Preston             1
4  25.8.2018          Leeds             0
5   2.9.2018        Ipswich             0
6  15.9.2018  Middlesbrough             1

-----------

          pvm     vastustaja  Pukin maalit  Pukki yht
39   6.4.2019            QPR             2         26
40  10.4.2019        Reading             0         26
41  14.4.2019          Wigan             1         27
42  19.4.2019  Sheffield Wed             0         27
43  22.4.2019          Stoke             1         28
44  27.4.2019      Blackburn             0         28
45   5.5.2019    Aston Villa             1         29

Muutamaa aikaisempaa metodia hyväksikäyttäen voidaan vaikka laskea mikä oli pisin "maaliputki", eli kuinka monessa peräkkäisessä ottelussa Pukki teki maaleja.

In [48]:
df['maaliputki_alkaa'] = (df['Pukin maalit']>0) & (df['Pukin maalit'].shift(1)==0)  
# tämä antaa aina 1.riville False, mutta nyt nähdään että menee oikein
 
print(df.head(10))

print('\n-----------\n')

df['maaliputki_nro']  = df['maaliputki_alkaa'].cumsum()

print(df.head(10))

print('\n-----------\n')

# tässä maali-otteluiden määrät ryhmiteltynä maaliputken numeron mukaan

print(df[df['Pukin maalit']>0].groupby('maaliputki_nro')['Pukin maalit'].count().sort_values(ascending=False))

         pvm     vastustaja  Pukin maalit  Pukki yht  maaliputki_alkaa
0   4.8.2018     Birmingham             0          0             False
1  11.8.2018  West Bromwich             1          1              True
2  18.8.2018  Sheffield Utd             0          1             False
3  22.8.2018        Preston             1          2              True
4  25.8.2018          Leeds             0          2             False
5   2.9.2018        Ipswich             0          2             False
6  15.9.2018  Middlesbrough             1          3              True
7  19.9.2018        Reading             1          4             False
8  22.9.2018            QPR             1          5             False
9  29.9.2018          Wigan             0          5             False

-----------

         pvm     vastustaja  Pukin maalit  Pukki yht  maaliputki_alkaa  \
0   4.8.2018     Birmingham             0          0             False
1  11.8.2018  West Bromwich             1          1              True
2  18.8.2018  Sheffield Utd             0          1             False
3  22.8.2018        Preston             1          2              True
4  25.8.2018          Leeds             0          2             False
5   2.9.2018        Ipswich             0          2             False
6  15.9.2018  Middlesbrough             1          3              True
7  19.9.2018        Reading             1          4             False
8  22.9.2018            QPR             1          5             False
9  29.9.2018          Wigan             0          5             False

   maaliputki_nro
0               0
1               1
2               1
3               2
4               2
5               2
6               3
7               3
8               3
9               3

-----------

maaliputki_nro
8     6
4     3
3     3
5     2
13    1
12    1
11    1
10    1
9     1
7     1
6     1
2     1
1     1
Name: Pukin maalit, dtype: int64