## Pandas-tehtävät

#### Huom: Koko harjoituksen ajan on tarkoitus käsitellä alkuperäistä dataframea!

#### Tehtävä 1. Lisää tarvittavat kirjastot ja lue `testidata.csv` niminen tiedosto DataFrame-objektiin

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# tuodaan nimellä df (dataframe) testidata
df = pd.read_csv('testidata.csv')

#### Tehtävä 2. Tulosta DataFrame-objektin viisi viimeistä riviä

In [2]:
# tulostetaan dataframen "häntä" eli viisi viimeistä riviä

df.tail()

    Unnamed: 0   sarake1   sarake2   sarake3
20          20  0.300589  0.455980  0.292225
21          21  0.859970  0.346539  0.364629
22          22  0.842364  0.093485  0.662066
23          23  0.781693  0.573344  0.815692
24          24  0.788949  0.945625  0.852690

#### Tehtävä 3. Tulosta datan sarakkeiden otsikot list-objektina

In [3]:
# tulostetaan dataframen sarakkeiden otsikoista

print(list(df))

['Unnamed: 0', 'sarake1', 'sarake2', 'sarake3']

#### Tehtävä 4. Tulosta `sarake2`:n pituus

In [4]:
# valitaan haluttu sarake, tehdään siitä objekti
selection = df['sarake2']

#tulostetaan halutun sarakkeen pituus len-komennolla ja printataan se
print(len(selection))

25

#### Tehtävä 5. Tulosta datan ensimmäinen rivin tiedot

In [5]:
# tulostetaan dataframen pelkkä ensimmäinen rivi head-komennolla

df.head(1)

   Unnamed: 0   sarake1   sarake2   sarake3
0           0  0.319219  0.380058  0.919389

#### Tehtävä 6. Pudota datasta  `Unnamed: 0` niminen sarake ja todenna lopputulos valitsemallasi tavalla

In [6]:
# pudotetaan pois ensimmäinen sarake dataframesta drop-komennolla

df_cleaned = df.drop(['Unnamed: 0'], axis = 1)

# todennetaan, että sarake on poistettu ja tulostetaan uusi, puhdistettu dataframe

print(df_cleaned)

     sarake1   sarake2   sarake3
0   0.319219  0.380058  0.919389
1   0.922251  0.490721  0.133932
2   0.073746  0.929162  0.962745
3   0.363707  0.878349  0.485700
4   0.106903  0.714651  0.039953
5   0.196788  0.232740  0.879700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.303299  0.096971  0.451031
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
11  0.154682  0.504352  0.557231
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
14  0.023112  0.456483  0.378360
15  0.935875  0.698276  0.446885
16  0.113171  0.585910  0.026875
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
19  0.007302  0.005471  0.790344
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 7. Poista rivit, jos sarakkeessa `sarake1` esiintyy arvo 0.2 tai pienempi

In [11]:
# tulostetaan 

df_cleaned2 = df[df.sarake1 > 0.2]

print(df_cleaned2)

    Unnamed: 0   sarake1   sarake2   sarake3
0            0  0.319219  0.380058  0.919389
1            1  0.922251  0.490721  0.133932
3            3  0.363707  0.878349  0.485700
6            6  0.323134  0.036466  0.186775
7            7  0.467610  0.850993  0.377558
8            8  0.303299  0.096971  0.451031
9            9  0.733485  0.591996  0.658924
10          10  0.641628  0.251886  0.274987
12          12  0.319906  0.489200  0.990319
13          13  0.780267  0.458454  0.053428
15          15  0.935875  0.698276  0.446885
17          17  0.273193  0.300307  0.768270
18          18  0.467060  0.225161  0.911570
20          20  0.300589  0.455980  0.292225
21          21  0.859970  0.346539  0.364629
22          22  0.842364  0.093485  0.662066
23          23  0.781693  0.573344  0.815692
24          24  0.788949  0.945625  0.852690

#### Tehtävä 8. Tulosta `sarake1` sarakkeen minimi- ja maksimiarvo

In [12]:
# tulostetaan sarake1 minimi- ja maksiarvot min ja max -komennoilla

print('sarake1 maksimi arvo on: ', df.sarake1.max())
print('sarake1 minimi arvo on: ', df.sarake1.min())

sarake1 maksimi arvo on:  0.9358745961778226
sarake1 minimi arvo on:  0.00730163662796035

#### Tehtävä 9. Tee ensimmäisen rivin ensimmäisen sarakkeen arvosta nan

In [9]:
# käytetään replace-komentoa ja tehdään ensimmäisen rivin ensimmäisestä sarakkeesta iloc:in avulla arvoltaan NaN

df3 = df_cleaned2.replace(df_cleaned2.iloc[0,0], value=np.nan)
print(df3)

     sarake1   sarake2   sarake3
0        NaN  0.380058  0.919389
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.303299  0.096971  0.451031
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15  0.935875  0.698276  0.446885
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 10. Tallenna lopputulos data_export.csv-nimiseen tiedostoon (tiedostoa hyödynnetään seuraavassa harjoituksessa).

In [10]:
# tallennetaan esikäsitelty data csv-tiedostoksi

df3.to_csv('data_export.csv')